<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<div style="font-size: 16px; font-family: UmePGothicBalsaRegular, Liberation Sans, Trebuchet, Arial, Sans-Serif; color: DarkSlateGrey; padding: 1em 2em; width: 775px; text-align: center;">

<table style="font-size: 16px; font-family: UmePGothicBalsaRegular, Liberation Sans, Trebuchet, Arial, Sans-Serif; color: DarkSlateGrey; padding: 1em 2em; width: 775px; text-align: center;">
<tr><td>
<h1 style="font-weight: normal;">L'ARGENT</h1>
</td></tr>
<tr><td>
<h2 style="font-weight: normal;">Stéphane Arcas</h2>
</td></tr>
<tr><td>
Du 6 au 15 octobre 2011 à 20h30 - Amphithéâtre de la Balsamine 
</td></tr>
<tr><td>
Relâche le dimanche et le lundi
</td></tr>
</table>

<table style="font-family: UmePGothicBalsaRegular, Liberation Sans, Trebuchet, Arial, Sans-Serif; margin: auto; font-size: 16px; text-align: center; color: DarkSlateGray; font-size: 13px;" cellspacing="19" border="0">
<tr><td>
    <img src="http://balsamine.be/uploads/Creations.LArgent/fly004-web.jpg" alt="illustration faux/femme" />
</td>
<td>
    <img src="http://balsamine.be/uploads/Creations.LArgent/docargent4-web.jpg" alt="illustration mouche" />
</td></tr>
<tr><td colspan=2>© Stéphane Arcas</td></tr>
</table>


<blockquote style="font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace;">
« In a darkness of a dark room, dark characters prepare a dark project. A theater on the dark side of life. A dark phantasm with brains and madness and ghosts and many others dark things from a dark creator. A Show d’Arkas! Come and see this terrible masterpiece of vanity ! »
</blockquote>

<p>
L'ARGENT est un spectacle qui parle de LA MORT.
Comment évoquer la mort avec un langage de vivant?
Comment rendre présente à l'esprit la mort qui justement est le paroxysme de l'absence?
Comment mettre des images sur ce mot indéfinissable?
Indéfinissable, mais qu'on tente de définir… en vain.
Bon… tout cela peut paraître désespérant.
Mais la Mort a l'avantage de ne pas manquer d'humour ou du moins de créer des situations qui prêtent à rire.
</p>
<p>
<a style="color: DarkSlateGray; border: 1px solid DarkSlateGray; padding: 3px; text-decoration: none;" href="http://balsamine.be/index.php/Creations/LArgent">Plus d’infos >></a>
</p>

<ul style="list-style: none">
    <li>Écriture et mise en scène: STÉPHANE ARCAS</li>
    <li>Assisté de: CÉCILE CHÈVRE</li>
    <li>avec: MARIE BOS, NICOLAS LUÇON, PHILIPPE SANGDOR et CLAUDE SCHMITZ</li>
    <li>Scénographie, costume: MARIE SZERSNOVICZ</li>
    <li>Lumière: MARGARETA ANDERSEN </li>
</ul>

<div class="production" style="font-size: 13px; margin-top: 26px;">
<p>
Une production de la Balsamine.
</p>
<p>
Avec le soutien de la SACD (aide à l’écriture)<br />et du WBTD (aide à la diffusion).
</p>
</div>

</div>

