<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<table style="font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; margin: auto; border-collapse: collapse; text-align: left; line-height: 18px; font-size: 14px; color: DarkSlateGray; width: 570px; margin-top: 50px; margin-bottom: 100px;" cellspacing="0" border="0">
    <tr>
        <td style="border: 1px solid DarkSlateGray; padding: 0 13px; width: 70%;" rowspan=3>
            La Balsamine <br />
            avenue Félix Marchal, 1 <br />
            1030 Bruxelles
        </td>
        <td colspan=2>&nbsp;</td>
    </tr><tr>
        <td style="border: 1px solid DarkSlateGray; padding: 6px 13px;">
            Réservations
        </td>
        <td style="width: 50%">&nbsp;</td>
    </tr><tr>
        <td style="border: 1px solid DarkSlateGray; padding: 6px 13px;">
            02 735 64 68 
        </td>
        <td style="width: 50%">&nbsp;</td>
    </tr><tr>
        <td rowspan=2 style="text-align: right; padding-top: 6px; padding-right: 10px; vertical-align: top;">
            <img src="http://git.constantvzw.org/?p=balsamine.git;a=blob_plain;f=identity/pack-com/partenaires/petit/cfb.png;h=81cc7a22eaed3f6e6b4c07562477d07379c31877;hb=HEAD" alt="cfb" />
            <img src="http://git.constantvzw.org/?p=balsamine.git;a=blob_plain;f=identity/pack-com/partenaires/petit/wbtd.png;h=506b3306f281b8ee19558240b99531d381b2efe1;hb=HEAD" alt="wbtd" />
            <img src="http://git.constantvzw.org/?p=balsamine.git;a=blob_plain;f=identity/pack-com/partenaires/petit/wbi.png;h=dee82b911e266016202a1e701c54304c0296de5e;hb=HEAD" alt="wbi" />
            <img src="http://git.constantvzw.org/?p=balsamine.git;a=blob_plain;f=identity/pack-com/partenaires/petit/ccfc.png;h=77904e74a1456e620e17c7a31270be288972fac0;hb=HEAD" alt="ccfc" />
            <img src="http://git.constantvzw.org/?p=balsamine.git;a=blob_plain;f=identity/pack-com/partenaires/petit/artsene.png;h=5b1316019102c72f9da446ca7e7ff5e7bdcff77e;hb=HEAD" alt="artsene50" />
            <img src="http://git.constantvzw.org/?p=balsamine.git;a=blob_plain;f=identity/pack-com/partenaires/petit/article27.png;h=46a03301a1fb71be57d34a75ec1e34f2cf136256;hb=HEAD" alt="article27" />
            <img src="http://git.constantvzw.org/?p=balsamine.git;a=blob_plain;f=identity/pack-com/partenaires/petit/union-artistes.png;h=f5010564084c5153bdfa8421fb6d206b3a5cd3d3;hb=HEAD" alt="union des artistes" />
        </td>
        <td colspan=2 style="border: 1px solid DarkSlateGray; padding: 6px 13px;">
            <a href="mailto:reservation@balsamine.be">reservation@balsamine.be</a>
        </td>
    </tr><tr>
        <td colspan=2 style="border: 1px solid DarkSlateGray; padding: 6px 13px; width: 30%">
            <a href="http://balsamine.be">www.balsamine.be</a>
        </td>
    </tr>
</table>
