<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
    h1 {
        font-weight: normal;
        font-size: 34px;
        line-height: 34px;
        color: DarkSlateGrey;
        text-transform: uppercase;
    }
    h2 {
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        color: DarkSlateGrey;
        text-transform: uppercase;
    }
    h3 {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: DarkSlateGrey;
    }
    a {
        font-weight: normal;
        color: DarkSlateGrey;
    }
    table {
        font-family: "UmePGothicBalsaRegular", "Liberation Sans", "Trebuchet MS", Arial, Sans-Serif;
        text-align: center;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: DarkSlateGrey;
        margin: auto;
        text-align: center;
    }
    td.titre {
        border-bottom: 1px solid DarkSlateGrey;
    }
    p.legend {
        font-size: 11px;
        line-height: 16px;
    }
    blockquote {
        font-size: 14px;
        line-height: 18px;
        color: DarkSlateGrey;
        font-family: "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
    }
    img#balsa-logo {
        vertical-align: middle;
    }
</style>


<table cellspacing="19" border="0" style="width: 800px;">
    <tr>
        <td colspan="3">
<h1><img id="balsa-logo" src="http://git.constantvzw.org/?p=balsamine.git;a=blob_plain;f=identity/pack-com/basse-def/balsamine-logo_part3-couleur.png;h=ee3bab29654c3ee5b74820d06af5366a9fd8dbec;hb=HEAD" alt="à la balsa"/> en février</h1>
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://balsamine.be/uploads/Creations.LArgent/fly004-web.jpg" alt="illustration faux/femme" />
            <p class="legend">© Stéphane Arcas</p>
        </td>
        <td class="titre">
            <h2>L'Argent</h2>
            <h3>Stéphane Arcas</h3>
            <p class="legend">
                Du 6 au 15 octobre 2011 à 20h30 <br />
                (relâche le dimanche et le lundi)<br />
                Amphithéâtre de la Balsamine
            </p>
            <p>&darr;</p>
            <p>
                <a href="http://balsamine.be/index.php/Creations/LArgent">Plus d’infos</a>
            </p>
        </td>
        <td>
            <blockquote>
            «In a darkness of a dark room, dark characters prepare a dark project. A theater on the dark side of life. A dark phantasm with brains and madness and ghosts and many others dark things from a dark creator. A Show d’Arkas! Come and see this terrible masterpiece of vanity!»
            </blockquote>
            <p>
            L'ARGENT est un spectacle qui parle de LA MORT.
            Comment évoquer la mort avec un langage de vivant?
            Comment rendre présente à l'esprit la mort qui justement est le paroxysme de l'absence?
            Comment mettre des images sur ce mot indéfinissable?
            Indéfinissable, mais qu'on tente de définir… en vain.
            Bon… tout cela peut paraître désespérant.
            Mais la Mort a l'avantage de ne pas manquer d'humour ou du moins de créer des situations qui prêtent à rire.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <blockquote>
    « La nécessité d'entamer un processus de création artistique qui viendrait témoigner de mes diverses expériences à la frontière entre mon métier de comédienne et celui plus récent de psychologue est à l'origine de Nœuds. En concevant ce projet, je me pose la question d'une psychologie intime et collective à la fois qui parlerait de l'être humain dans la complexité qui le façonne, de son inconscient et de notre rapport à lui, des nœuds qui s'y nouent et s'y dénouent.»
            </blockquote>
            <p class="legend">
                Témoignage / Raphaëlle Blancherie 
            </p>
            <p>
    Nœuds est un spectacle qui invite à l’exploration des liens qui unissent et désunissent ; tel le langage avec ses imbroglios. Nœuds nous plonge dans une exploration de l’inconscient du dire et montre l’être humain en sujet empêtré dans ses nœuds « privés ». Regarder une œuvre, c’est toujours plonger dans des nœuds, les siens et ceux de l’autre, l’objet regardé. C’est aussi pénétrer dans l’intimité. Nœuds est cet obscur objet du désir porté par un duo féminin, pleinement là et qui nous offre une parole intime qui rejoint l’universel. Elles se livrent, lavent leur linge sale en public, pour participer à une quête relationnelle tout en s’amusant des déboires de la vie inconsciente qui affleure, des lapsus et des actes manqués…
            </p>
        </td>
        <td class="titre">
            <h2>NØEUDS</h2>
            <h3>Raphaëlle Blancherie &amp; Karine Jurquet</h3>
            <p class="legend">
                Du 29 février au 10 mars 2012 à 20h30<br/>
                (relâche le dimanche et le lundi)<br/>
                Studio de la Balsamine
            </p>
            <p>&darr;</p>
            <p>
                <a href="http://balsamine.be/index.php/Creations/Noeuds">Plus d’infos</a>
            </p>
        </td>
        <td>
            <img src="http://balsamine.be/uploads/Blog.Sous-le-sapin-on-peut-trouver/th396---ffffff--noeuds1.jpg.jpg" alt="Description de la photo" />
            <p class="legend">© Hichem Dahes</p>
        </td>
    </tr>
</table>




