  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<div style="font-size: 16px; font-family: UmePGothicBalsaRegular, Liberation Sans, Trebuchet, Arial, Sans-Serif; color: DarkSlateGrey; padding: 1em 2em; width: 775px; text-align: center;">

<h1 style="font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; border: 1px solid DarkSlateGrey; display: inline-block; padding: 8px 16px; font-weight: normal; text-transform: uppercase; margin-left: 40px">
Festival Genèse<br />à la Balsa!</h1>


<p style="width: 85%; margin: auto;">
La convocation est claire, nous vous attendons afin d’embrasser cette semaine comme un tout, comme une expérience à la fois enfantine et adulte. Une traversée où l’horreur côtoie une drôlerie candide. Un rappel constant des proportions comme une petite philosophie morale qui rappelle que tous nous appartenons à quelque chose de plus grand, d’une richesse et d’une variété sans fond.
</p>
 
<div style="text-align: center">
    <p style="margin-bottom: -10px;">
    lundi 19 &rarr; dimanche 25<br />
    septembre 2011<br />
    <span style="font-size: 1.2em;">&darr;</span>
    </p>

    <p style="font-size: 30px; font-family: UmePGothicRegular, Liberation Sans, Trebuchet, Arial, Sans-Serif; margin: 19px 0 15px 0;">
        <img src="http://balsamine.be/uploads/Saison2011-2012.FestivalGenese/th626---ffffff--genese.jpg.jpg" style="width: 120px; height: 283px; border: 1px solid DarkSlateGray; padding: 10px;" alt="bạlsa" /><br />
    </p>
    <span style="font-size: 1.2em;">&darr;</span>
    
    <table border=0 style="font-family: UmePGothicBalsaRegular, Liberation Sans, Trebuchet, Arial, Sans-Serif; color: DarkSlateGray; margin: auto;font-size: 16px;">
        <tr>
            <td style="font-size: 4em;">7</td>
            <td style="text-align: left;">
                 jours<br />
                 créations<br />
                 créateurs<br />
            </td>
        </tr>
    </table>
    ↙ ↘
</div>
 
<table style="font-family: UmePGothicBalsaRegular, Liberation Sans, Trebuchet, Arial, Sans-Serif; margin: auto; font-size: 16px; text-align: center; color: DarkSlateGray;" cellspacing="19" border="0">
    <tr>
        <td><b style="font-weight: normal; border: 1px solid DarkSlateGray; padding: 0 4px;">19/09</b>
            <br />|<br />
            Ouverture des portes dès 18h
            <br />|<br />
            Vernissage Expo Hichem Dahes
            <br />&#x2939;<br />
            20h30 Pierre Megos 
            <br />|<br />
            <i style="font-style: normal; font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; ">Vision 1</i></td>
        <td><b style="font-weight: normal; border: 1px solid DarkSlateGray; padding: 0 4px;">20/09</b>
            <br />|<br />
            Camille<br />Mutel
            <br />|<br />
            <i style="font-style: normal; font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; ">Effraction de l’oubli</i> 
        </td>
        <td><b style="font-weight: normal; border: 1px solid DarkSlateGray; padding: 0 4px;">21/09</b>
            <br />|<br />
            Claude Schmitz
            <br />|<br />
            <i style="font-style: normal; font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; ">Salon des refusés</i>
        </td>
        <td><b style="font-weight: normal; border: 1px solid DarkSlateGray; padding: 0 4px;">22/09</b>
            <br />|<br />
            Thomas Turine
            <br />|<br />
            <i style="font-style: normal; font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; ">À Old Crow</i>
        </td>
        <td><b style="font-weight: normal; border: 1px solid DarkSlateGray; padding: 0 4px;">23/09</b>
            <br />|<br />
            Odile Vansteenwinckel & François Beukelaers
            <br />|<br />
             <i style="font-style: normal; font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; ">Qu’est-ce que l’argent?</i>
        </td>
        <td><b style="font-weight: normal; border: 1px solid DarkSlateGray; padding: 0 4px;">24/09</b>
            <br />|<br />
            Collectif Yes&nbsp;Igor
            <br />|<br />
            <i style="font-style: normal; font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; ">Exercices de Play-Back</i>
        </td>
        <td><b style="font-weight: normal; border: 1px solid DarkSlateGray; padding: 0 4px;">25/09</b>
            <br />|<br />
            Stéphane Arcas
            <br />|<br />
            <i style="font-style: normal; font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; ">Scum Manifesto</i>
            <br />&#x2939;<br />
            dès 22h "Big Bang Party"
        </td>
    </tr>
</table>
                                    
<p>
    <span style="font-size: 1.2em;">&darr;</span>
    <a style="color: DarkSlateGray;" href="http://balsamine.be/index.php/Saison2011-2012/FestivalGenese"><br />Plus d'infos</a> 
</p>

<p style="width: 85%; margin: auto;">
    Possibilité de se restaurer sur place, le buffet est dressé dès 19h et une petite restauration pour les petites faims est également proposée.
</p>

<p>
    Tarif unique <b style="font-weight: normal; border: 1px solid DarkSlateGray; padding: 0 4px;">6€</b><br />
    ou<br />
    pass Festival <b style="font-weight: normal; border: 1px solid DarkSlateGray; padding: 0 4px;">25 €</b>
</p>

<p>
    <i style="font-style: normal; font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; "><a style="color: DarkSlateGray;" href="mailto:reservation@balsamine.be" style="color: DarkSlateGray">reservation@balsamine.be</a></i><br />
    ou<br /> 
    <i style="font-style: normal; font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; ">02 735 64 68</i>
</p>

 
<p>
    <a href="http://www.balsamine.be" style="color: DarkSlateGrey;">www.balsamine.be</a>
    <br />
    <span style="font-size: 30px; font-family: UmePGothicRegular, Liberation Sans, Trebuchet, Arial, Sans-Serif;">
        <img src="http://balsamine.be/uploads/Balsamine.T%C3%A9l%C3%A9chargements/balsamine-logo-200px.png" alt="bạlsa" />
    </span>
</p>

</div>
