<div style="font-family: UmePGothicBalsaRegular, Liberation Sans, Trebuchet, Arial, Sans-Serif; color: DarkSlateGrey; padding: 1em 2em;">
<p>
    Il y a quelque chose de nouveau au Royaume de Belgique
    <br />
    <br />
</p>

<h1 style="font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; border: 1px solid DarkSlateGrey; display: inline; padding: 8px 16px; font-weight: normal; text-transform: uppercase; margin-left: 40px">la Balsamine</h1>
 
<table style="font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; color: DarkSlateGrey; margin-top: 2em;">
<tr style="vertical-align: top;">
    <td>
        <br />
        <br />
        <br />
        Nouv-
    </td>
    <td>
        <br />
        <ul style="list-style:none; margin: 0;">
            <li>-elle</li>
            <li>-eau</li>
            <li>-eaux</li>
            <li>-elles</li>
        </ul>
    </td>
    <td>
        <ul style="margin: 0;">
            <li>saison</li>
            <li>créations</li>
            <li>horaires</li>
            <li>directeurs artistiques</li>
            <li>directeur financier et administratif</li>
            <li>équipe technique</li>
            <li>graphistes</li>
        </ul>
    </td>
</tr>
</table>
 
<p style="margin-left: 121px;">
    et<br />
    <span style="font-size: 32px">&darr;</span>
</p>
 
<p>
Nouveau site en ligne Maintenant &bull; Nu &bull; Now !
</p>
<p style="margin-left: 40px;">
    <a href="http://www.balsamine.be" style="color: DarkSlateGrey;">www.balsamine.be</a>
</p>
<p style="font-size: 30px; font-family: UmePGothicRegular, Liberation Sans, Trebuchet, Arial, Sans-Serif; margin-left: 80px;">
    <img src="http://balsamine.be/balsamine-logo-200px.png" alt="bạlsa" />
</p>
</div>
