<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 



<div style="font-family: UmePGothicBalsaRegular, Liberation Sans, Trebuchet, Arial, Sans-Serif; color: DarkSlateGrey; padding: 1em 2em;">
<p>
    Il y a quelque chose de nouveau au Royaume de Belgique
    <br />
    <br />
</p>

<h1 style="font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; border: 1px solid DarkSlateGrey; display: inline; padding: 8px 16px; font-weight: normal; text-transform: uppercase; margin-left: 40px">la Balsamine</h1>
 
<pre style="font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace;">

Nouvelle saison

    Nouvelles créations

        Nouveaux horaires

            Nouveaux directeurs artistiques

                Nouveau directeur financier et administratif

                    Nouvelle équipe technique

                        Nouveaux graphistes
</pre>

 
<p style="margin-left: 121px;">
    et<br />
    <span style="font-size: 32px">&darr;</span>
</p>
 
<p>
Nouveau site en ligne Maintenant &bull; Nu &bull; Now !
</p>
<p style="margin-left: 40px;">
    <a href="http://www.balsamine.be" style="color: DarkSlateGrey;">www.balsamine.be</a>
</p>
<p style="font-size: 30px; font-family: UmePGothicRegular, Liberation Sans, Trebuchet, Arial, Sans-Serif; margin-left: 80px;">
    <img src="http://balsamine.be/uploads/Balsamine.T%C3%A9l%C3%A9chargements/balsamine-logo-200px.png" alt="bạlsa" />
</p>
</div>
